body {
    background: rgb(var(--primary-900));
    background: url("/img/composicion-moderna-de-mecanico-de-automoviles.jpg") center / cover, linear-gradient(0deg, rgba(var(--primary-900), 1) 0%, rgba(var(--primary-500)) 100%);
}