openapi: 3.0.0
info:
  title: TallerGonzalez API
  version: 1.1.0
  description: API completa para gestión de facturas, productos, compras y autenticación. Utiliza autenticación Bearer token con Laravel Sanctum.
  contact:
    name: Soporte TallerGonzalez
servers:
  - url: https://pruebas.motorsgonzalez.com/api
    description: Servidor de pruebas
  - url: http://localhost/api
    description: Desarrollo local

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: Bearer token obtenido al hacer login

  schemas:
    LoginRequest:
      type: object
      required:
        - email
        - password
      properties:
        email:
          type: string
          format: email
          example: usuario@example.com
        password:
          type: string
          format: password
          example: tu_contraseña

    LoginResponse:
      type: object
      properties:
        user:
          $ref: '#/components/schemas/User'
        token:
          type: string
          example: eyJ0eXAiOiJKV1QiLCJhbGc...
        message:
          type: string

    User:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        email:
          type: string
          format: email
        roles:
          type: array
          items:
            type: object
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    Producto:
      type: object
      properties:
        id:
          type: integer
        codigo:
          type: string
        nombre:
          type: string
        descripcion:
          type: string
        precio_unitario:
          type: number
        stock_actual:
          type: integer
        stock_minimo:
          type: integer
        marca_id:
          type: integer
        tipo_producto_id:
          type: integer
        marca:
          type: object
        tipoProducto:
          type: object

    Cliente:
      type: object
      properties:
        id:
          type: integer
        codigo_cliente:
          type: string
        nombre:
          type: string
        apellido:
          type: string
        email:
          type: string
          format: email
        telefono:
          type: string
        telefono_alternativo:
          type: string
        tipo_cliente:
          type: string
        razon_social:
          type: string
        nombre_comercial:
          type: string
        giro:
          type: string
        direccion:
          type: string
        departamento:
          type: string
        municipio:
          type: string
        distrito:
          type: string
        limite_credito:
          type: number
        dias_credito:
          type: integer
        descuento_autorizado:
          type: number
        activo:
          type: boolean
        credito_activo:
          type: boolean
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    FacturaItem:
      type: object
      required:
        - producto_id
        - cantidad
        - precio_unitario
      properties:
        producto_id:
          type: integer
        cantidad:
          type: number
        precio_unitario:
          type: number

    StoreFacturaRequest:
      type: object
      required:
        - cliente
        - items
      properties:
        numero_factura:
          type: string
          description: Opcional. Se genera automáticamente si no se proporciona
        cliente_id:
          type: integer
          description: Opcional
        cliente:
          type: string
          example: Juan Pérez
        fecha:
          type: string
          format: date
          description: Opcional. Por defecto es la fecha actual
        items:
          type: array
          minItems: 1
          items:
            $ref: '#/components/schemas/FacturaItem'

    Factura:
      type: object
      properties:
        id:
          type: integer
        numero_factura:
          type: string
        cliente:
          type: string
        cliente_id:
          type: integer
        fecha:
          type: string
          format: date
        total:
          type: number
        estado:
          type: string
          enum: [pendiente, pagada, cancelada]
        created_by:
          type: integer
        creador:
          $ref: '#/components/schemas/User'
        detalles:
          type: array
          items:
            type: object
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    UpdateFacturaRequest:
      type: object
      properties:
        estado:
          type: string
          enum: [pendiente, pagada, cancelada]
          description: Nuevo estado de la factura
        pago:
          type: boolean
          description: Si se envía true, marca la factura como pagada

    # ─── COMPRAS / KARDEX ──────────────────────────────────────

    Proveedor:
      type: object
      properties:
        id:
          type: integer
          example: 1
        codigo:
          type: string
          example: PROV-001
        nombre:
          type: string
          example: Distribuidora ABC
        contacto:
          type: string
          example: Juan Pérez
        telefono:
          type: string
          example: 2234-5678
        email:
          type: string
          format: email
          example: contacto@distribuidora.com
        activo:
          type: boolean

    OrdenKardex:
      type: object
      properties:
        id:
          type: integer
          example: 15
        numero_orden:
          type: string
          example: PED-20240614-0001
        fecha_orden:
          type: string
          format: date
          example: "2024-06-14"
        fecha_esperada:
          type: string
          format: date
          example: "2024-06-21"
        fecha_entrega:
          type: string
          format: date
          nullable: true
          example: "2024-06-19"
        estado:
          type: string
          enum: [pendiente, confirmado, en_camino, parcial, completado, cancelado]
          example: completado
        proveedor:
          $ref: '#/components/schemas/Proveedor'
        subtotal:
          type: number
          example: 750.00
        monto_impuesto:
          type: number
          example: 0.00
        total:
          type: number
          example: 750.00
        observaciones:
          type: string
          nullable: true
        creado_por:
          type: string
          nullable: true
          example: Gabriel Alegría
        items:
          type: array
          items:
            type: object
            properties:
              id:
                type: integer
                example: 45
              producto_id:
                type: integer
                example: 1
              codigo:
                type: string
                example: ACEITE-001
              nombre:
                type: string
                example: Aceite Motor 5W30
              unidad_medida:
                type: string
                example: LT
              variante:
                type: string
                nullable: true
                description: Viscosidad y presentación (solo para aceites con variante)
                example: 5W30 Galon
              cantidad:
                type: number
                example: 10
              cantidad_recibida:
                type: number
                nullable: true
                example: 10
              precio_unitario:
                type: number
                example: 50.00
              subtotal:
                type: number
                example: 500.00
              completado:
                type: boolean
                example: true

    PaginatedFacturas:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Factura'
        meta:
          type: object
          properties:
            total:
              type: integer
            per_page:
              type: integer
            current_page:
              type: integer

paths:
  /login:
    post:
      summary: Iniciar sesión
      description: Autentica un usuario y devuelve un token Bearer
      tags:
        - Autenticación
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoginRequest'
      responses:
        "200":
          description: Login exitoso
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoginResponse'
        "422":
          description: Credenciales inválidas o demasiados intentos
        "429":
          description: Demasiados intentos de login en poco tiempo

  /user:
    get:
      summary: Obtener usuario actual
      description: Devuelve los datos del usuario autenticado
      tags:
        - Autenticación
      security:
        - bearerAuth: []
      responses:
        "200":
          description: Datos del usuario
          content:
            application/json:
              schema:
                type: object
                properties:
                  user:
                    $ref: '#/components/schemas/User'
        "401":
          description: No autenticado

  /check-auth:
    get:
      summary: Verificar autenticación
      description: Verifica si el usuario está autenticado
      tags:
        - Autenticación
      security:
        - bearerAuth: []
      responses:
        "200":
          description: Estado de autenticación
          content:
            application/json:
              schema:
                type: object
                properties:
                  authenticated:
                    type: boolean
                  user:
                    $ref: '#/components/schemas/User'

  /logout:
    post:
      summary: Cerrar sesión
      description: Cierra la sesión actual del usuario
      tags:
        - Autenticación
      security:
        - bearerAuth: []
      responses:
        "200":
          description: Sesión cerrada correctamente
        "500":
          description: Error al cerrar sesión

  /refresh-token:
    post:
      summary: Renovar token
      description: Genera un nuevo token Bearer
      tags:
        - Autenticación
      security:
        - bearerAuth: []
      responses:
        "200":
          description: Nuevo token generado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoginResponse'
        "403":
          description: Acceso denegado

  /clientes:
    get:
      summary: Listar clientes
      description: Obtiene lista paginada de clientes con filtros opcionales
      tags:
        - Clientes
      security:
        - bearerAuth: []
      parameters:
        - name: search
          in: query
          schema:
            type: string
          description: Búsqueda por nombre, razón social, email, teléfono, DUI o NIT
        - name: tipo_cliente
          in: query
          schema:
            type: string
          description: Filtrar por tipo de cliente
        - name: activo
          in: query
          schema:
            type: boolean
          description: Filtrar por estado activo
        - name: credito_activo
          in: query
          schema:
            type: boolean
          description: Filtrar por crédito activo
        - name: sort_field
          in: query
          schema:
            type: string
            default: nombre
          description: Campo para ordenar
        - name: sort_direction
          in: query
          schema:
            type: string
            enum: [asc, desc]
            default: asc
          description: Dirección del ordenamiento
        - name: per_page
          in: query
          schema:
            type: integer
            default: 20
          description: Clientes por página
      responses:
        "200":
          description: Lista paginada de clientes
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Cliente'

  /clientes/{id}:
    get:
      summary: Obtener cliente por ID
      description: Devuelve los datos de un cliente específico
      tags:
        - Clientes
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
          description: ID del cliente
      responses:
        "200":
          description: Datos del cliente
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Cliente'
        "404":
          description: Cliente no encontrado

  /clientes/buscar/{documento}:
    get:
      summary: Buscar cliente por DUI o NIT
      description: Obtiene un cliente específico por su número de DUI o NIT
      tags:
        - Clientes
      security:
        - bearerAuth: []
      parameters:
        - name: documento
          in: path
          required: true
          schema:
            type: string
          description: Número de DUI o NIT del cliente
      responses:
        "200":
          description: Cliente encontrado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Cliente'
        "404":
          description: Cliente no encontrado

  /productos:
    get:
      summary: Listar productos
      description: Obtiene lista paginada de productos con filtros opcionales
      tags:
        - Productos
      security:
        - bearerAuth: []
      parameters:
        - name: search
          in: query
          schema:
            type: string
          description: Búsqueda por nombre, código o descripción
        - name: codigo
          in: query
          schema:
            type: string
          description: Filtrar por código exacto
        - name: tipo
          in: query
          schema:
            type: string
            enum: [aceite, normal]
          description: Filtrar por tipo de producto
        - name: con_stock
          in: query
          schema:
            type: boolean
          description: Filtrar solo productos con stock > 0
        - name: sort_field
          in: query
          schema:
            type: string
            default: nombre
          description: Campo para ordenar
        - name: sort_direction
          in: query
          schema:
            type: string
            enum: [asc, desc]
            default: asc
          description: Dirección del ordenamiento
        - name: per_page
          in: query
          schema:
            type: integer
            default: 20
          description: Productos por página
      responses:
        "200":
          description: Lista paginada de productos
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Producto'

  /productos/buscar/{codigo}:
    get:
      summary: Buscar producto por código
      description: Obtiene un producto específico por su código
      tags:
        - Productos
      security:
        - bearerAuth: []
      parameters:
        - name: codigo
          in: path
          required: true
          schema:
            type: string
          description: Código del producto
      responses:
        "200":
          description: Producto encontrado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Producto'
        "404":
          description: Producto no encontrado

  /productos/{id}:
    get:
      summary: Obtener producto por ID
      description: Devuelve los detalles de un producto específico
      tags:
        - Productos
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
          description: ID del producto
      responses:
        "200":
          description: Datos del producto
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Producto'
        "404":
          description: Producto no encontrado

  /productos/tipo/{tipo}:
    get:
      summary: Productos por tipo
      description: Obtiene productos filtrados por tipo (aceites o normales)
      tags:
        - Productos
      security:
        - bearerAuth: []
      parameters:
        - name: tipo
          in: path
          required: true
          schema:
            type: string
            enum: [aceite, normal]
          description: Tipo de producto
      responses:
        "200":
          description: Lista de productos del tipo especificado
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Producto'

  /productos/stock/bajo:
    get:
      summary: Productos con stock bajo
      description: Obtiene lista de productos con stock inferior al mínimo
      tags:
        - Productos
      security:
        - bearerAuth: []
      responses:
        "200":
          description: Lista de productos con stock bajo
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Producto'

  /facturas:
    post:
      summary: Crear factura
      description: Crea una nueva factura con detalles y actualiza stock de productos
      tags:
        - Facturas
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StoreFacturaRequest'
      responses:
        "201":
          description: Factura creada exitosamente
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    $ref: '#/components/schemas/Factura'
                  message:
                    type: string
        "422":
          description: Error de validación o stock insuficiente

    get:
      summary: Listar facturas
      description: Obtiene lista paginada de facturas con filtros opcionales
      tags:
        - Facturas
      security:
        - bearerAuth: []
      parameters:
        - name: from
          in: query
          schema:
            type: string
            format: date
          description: Fecha inicial (YYYY-MM-DD)
        - name: to
          in: query
          schema:
            type: string
            format: date
          description: Fecha final (YYYY-MM-DD)
        - name: cliente_id
          in: query
          schema:
            type: integer
          description: ID del cliente
        - name: estado
          in: query
          schema:
            type: string
            enum: [pendiente, pagada, cancelada]
          description: Estado de la factura
        - name: per_page
          in: query
          schema:
            type: integer
            default: 15
          description: Facturas por página
      responses:
        "200":
          description: Lista paginada de facturas
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedFacturas'
        "401":
          description: No autenticado

  /facturas/{id}:
    get:
      summary: Obtener factura por ID
      description: Devuelve los detalles completos de una factura
      tags:
        - Facturas
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
          description: ID de la factura
      responses:
        "200":
          description: Datos de la factura
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Factura'
        "404":
          description: Factura no encontrada
        "401":
          description: No autenticado

    put:
      summary: Actualizar factura
      description: Actualiza el estado o marca como pagada una factura. Si se cancela, restaura el stock.
      tags:
        - Facturas
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
          description: ID de la factura
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateFacturaRequest'
      responses:
        "200":
          description: Factura actualizada
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    $ref: '#/components/schemas/Factura'
        "404":
          description: Factura no encontrada
        "422":
          description: Error de validación

  # ─── COMPRAS / KARDEX ────────────────────────────────────────

  /compras/kardex:
    get:
      summary: Órdenes de compra para Kardex
      description: |
        Devuelve las órdenes de compra del sistema filtradas por rango de fechas.
        Incluye toda la información necesaria para generar el Kardex en el sistema externo:
        proveedor, productos, cantidades, precios y estado de recepción.
      tags:
        - Compras
      security:
        - bearerAuth: []
      parameters:
        - name: from
          in: query
          required: true
          schema:
            type: string
            format: date
          description: Fecha inicial (YYYY-MM-DD)
          example: "2024-06-01"
        - name: to
          in: query
          required: true
          schema:
            type: string
            format: date
          description: Fecha final (YYYY-MM-DD)
          example: "2024-06-30"
        - name: proveedor_id
          in: query
          schema:
            type: integer
          description: Filtrar por proveedor (opcional)
        - name: estado
          in: query
          schema:
            type: string
            enum: [pendiente, confirmado, en_camino, parcial, completado, cancelado]
          description: Filtrar por estado (opcional)
      responses:
        "200":
          description: Lista de órdenes con sus detalles
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/OrdenKardex'
                  total:
                    type: integer
                    example: 5
                  periodo:
                    type: object
                    properties:
                      from:
                        type: string
                        format: date
                        example: "2024-06-01"
                      to:
                        type: string
                        format: date
                        example: "2024-06-30"
        "422":
          description: Error de validación (from/to requeridos)
        "401":
          description: No autenticado

  /compras/kardex/{id}:
    get:
      summary: Detalle de una orden para Kardex
      description: Devuelve todos los datos de una orden de compra específica para el Kardex.
      tags:
        - Compras
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
          description: ID de la orden de compra
      responses:
        "200":
          description: Datos completos de la orden
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/OrdenKardex'
        "404":
          description: Orden no encontrada
        "401":
          description: No autenticado

  # ─── DOCUMENTACIÓN ────────────────────────────────────────────

  /openapi.yaml:
    get:
      summary: Obtener especificación OpenAPI
      description: Devuelve la especificación OpenAPI en formato YAML
      tags:
        - Documentación
      responses:
        "200":
          description: Especificación OpenAPI

security:
  - bearerAuth: []
